GATHERING_API_URL=""
GATHERING_API_ENDPOINT=""
GATHERING_API_USERS_ENDPOINT=""

GATHERING_API_EVENTS_URL=""
GATHERING_API_CATS_ENDPOINT=""

GATHERING_API_RECOM_URL=""
GATHERING_API_RECOM_ENDPOINT_POST=""

GATHERING_TRUNCATE_URL=""
GATHERING_TRUNCATE_TOKEN=""

LOG_DESTINATION=''
